*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Saira Condensed', sans-serif;;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.header{
    position: relative;
    background-color: aqua;
    color: white;
    text-transform: uppercase;
}
.header h3{
    font-size: 7.5rem;
    font-weight: 700;
}
.header h1{
    font-size: 3.75rem;
    font-weight: 700;
}
.header h2{
    font-size: 3.75rem;
    font-weight: 400;
}
.header a{
    display: block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    font-size: 2.25rem;
    padding: 10px 15px;
    margin-top: 50px;
}
.header img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 90%;
}
.www{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.www h2{
    flex-basis: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: 700px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.www-item{
    flex-basis: 30%;
    text-align: center;
}
.www-item img{
    width: 100%;
}
.www-item h4{
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 120%;
    padding: 30, 0;

}
.motto{
    background-image: url(./images/motto.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.motto-wraper{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100, 0;
}
.motto-wraper > div{
    width: 40%;
    margin: 0, auto;
    text-align: center;
    color: white;
}
/* do 600px */
@media(max-width: 600px){
    .header{
        text-align: center;
        padding-bottom: 340px;
    }
    .header h3{
        font-size: 2.5rem;
    }
    .header h1{
        font-size: 1.25rem;
    }
    .header h2{
        font-size: 1.25rem;
    }
    .header a{
        font-size: 0.75rem;
    }
    .header img{
        height: 300px;
    }
    .flex{
        justify-content: center;
    }
}
@media(max-width: 600px){
    .www h2{
        font-size: 1.5rem;

    }
    .www-item{
        flex-basis: 100%;
    }
    .www-item h4{
        font-size: 1.125rem;
      
    }
}